<?xml version="1.0"?>
<ruleset name="ArtPulse">
  <file>artpulse.php</file>
  <file>src</file>

  <config name="testVersion" value="8.1-8.3"/>
  <config name="minimum_supported_wp_version" value="6.3"/>

  <rule ref="WordPress"/>
  <rule ref="WordPress-Extra"/>
  <rule ref="PHPCompatibility"/>
  <exclude-pattern>vendor/*</exclude-pattern>
  <exclude-pattern>tests/widgets/__snapshots__/*</exclude-pattern>
  <exclude-pattern>scripts/*</exclude-pattern>
  <exclude-pattern>dist/*</exclude-pattern>

  <rule ref="Squiz.Commenting.FileComment">
    <exclude-pattern>tests/*</exclude-pattern>
  </rule>

  <severity>5</severity>
  <arg value="sp"/>
</ruleset>
