<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         executionOrder="random"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">

  <testsuites>
    <testsuite name="ArtPulse Plugin Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">widgets</directory>
      <directory suffix=".php">src</directory>
    </include>
    <report>
      <html outputDirectory="coverage" />
    </report>
  </coverage>

</phpunit>
