<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" beStrictAboutOutputDuringTests="true" failOnWarning="true" failOnRisky="true">
  <php>
    <ini name="display_errors" value="0"/>
    <ini name="error_reporting" value="-1"/>
    <ini name="opcache.enable_cli" value="0"/>
    <env name="XDEBUG_MODE" value="off"/>
  </php>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
      <directory suffix=".php">includes</directory>
      <directory suffix=".php">widgets</directory>
    </include>
    <exclude>
      <directory>tests</directory>
      <directory>vendor</directory>
    </exclude>
    <report>
      <text outputFile="php://stdout"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit">
      <file>tests/phpunit/ActivityFeedWidgetTest.php</file>
      <file>tests/phpunit/DashboardLayoutTest.php</file>
      <file>tests/phpunit/DashboardPreviewUserTest.php</file>
      <file>tests/phpunit/DashboardWidgetRegistryAliasTest.php</file>
      <file>tests/phpunit/DashboardWidgetRegistryHelpersTest.php</file>
      <file>tests/phpunit/DashboardPresetIntegrityTest.php</file>
      <file>tests/phpunit/EnqueueAssetsTest.php</file>
      <file>tests/phpunit/DashboardRoleTabsTest.php</file>
      <file>tests/phpunit/NearbyEventsWidgetTest.php</file>
      <file>tests/phpunit/ParityPlaceholderTest.php</file>
      <file>tests/phpunit/RestRouteConflictsTest.php</file>
      <file>tests/phpunit/UserLayoutManagerRoleLayoutTest.php</file>
      <file>tests/phpunit/WelcomeBoxWidgetTest.php</file>
      <file>tests/phpunit/WidgetAuditFixTest.php</file>
      <file>tests/phpunit/WidgetIdsCanonicalizationTest.php</file>
      <file>tests/phpunit/WidgetSourcesVisibilityTest.php</file>
      <file>tests/phpunit/ArtistWidgetsTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>
