<?xml version="1.0" encoding="UTF-8"?>
<!-- Template for WordPress integration tests; copy to phpunit.wp.xml for local overrides. -->
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <php>
    <env name="WP_PHPUNIT__DIR" value="vendor/wp-phpunit/wp-phpunit"/>
    <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php"/>
    <env name="AP_TEST_MODE" value="1"/>
  </php>
  <testsuites>
    <testsuite name="Rest">
      <directory suffix="Test.php">tests/Rest</directory>
    </testsuite>
    <testsuite name="Frontend">
      <directory suffix="Test.php">tests/Frontend</directory>
    </testsuite>
  </testsuites>
</phpunit>
