<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    bootstrap="tests/widgets/bootstrap.php"
    colors="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite name="plugin">
            <directory>./tests/widgets</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./widgets</directory>
        </include>
    </coverage>

    <logging>
        <log type="coverage-html" target="coverage/widgets" />
    </logging>

    <php>
        <env name="WP_TESTS_DIR" value="vendor/wp-phpunit/wp-phpunit/" />
        <env name="WP_PHP_BINARY" value="php" />
        <env name="WP_DEBUG" value="true" />
    </php>
</phpunit>
