<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/php/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Plugin Test Suite">
      <file>tests/Rest/UserLayoutControllerTest.php</file>
    </testsuite>
  </testsuites>
  <php>
    <env name="WP_PHPUNIT__DIR" value="vendor/wp-phpunit/wp-phpunit" />
    <env name="PLUGIN_MAIN_FILE" value="artpulse.php" />
    <env name="WP_PHPUNIT__TESTS_CONFIG" value="wp-tests-config.php" />
  </php>
</phpunit>
