<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/wp-bootstrap.php" colors="true">
  <coverage>
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>tests</directory>
      <directory>views</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="WordPress">
      <directory suffix="Test.php">tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="0"/>
    <ini name="opcache.enable_cli" value="0"/>
    <server name="WP_PHPUNIT__DIR" value="vendor/wp-phpunit/wp-phpunit"/>
    <const name="WP_TESTS_CONFIG_FILE_PATH" value="wp-tests-config.php"/>
    <env name="PLUGIN_MAIN_FILE" value="artpulse-management.php"/>
  </php>
</phpunit>
