@import url("ap-core.css");
.ap-org-dashboard {
    padding: 2rem;
    margin-bottom: 2rem;
    font-family: var(--ap-font-family-base);
}

.ap-org-dashboard h2 {
    margin-bottom: 1rem;
}

.ap-org-events {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.ap-org-events li {
    margin-bottom: 0.5rem;
}
